.tableMain {
    border: 1px solid black;
    border-collapse: collapse;
}

.rowStyle {
    border-bottom: 1px solid lightgrey;
}
.separatorRowStyle {
    border-bottom: 1px solid black;
}

.cellStyle {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}
.leadingCellStyle {
    border-left: 1px solid black;
    border-right: 1px solid lightgrey;
}
.trailingCellStyle {
    border-left: 1px solid lightgrey;
    border-right: 1px solid black;
}
.headerCellStyle {
    border: 1px solid black;
}
.urlCellStyle {
    word-wrap: break-word;
    max-width: 300px;
}
.statusCellStyle {
    word-wrap: break-word;
    max-width: 200px;
}
